html {
    background-color: #f7f6f4;
}

.info {
	margin-top: 3em;
}

.photo {
	float: left;
	left: 200px;
	margin-left: 2em;
}

.title {
	font-size: 2em;
	margin-left: 1em;
	font-weight: bold;
	margin-bottom: 0em;
}

.description {
	margin: 2em;
	width: 80%;
}

.left {
	float: left;
}

.social {
	margin-top: 2em;
	margin-left: 2em;
}

.projects {
	margin-top: 2em;
	margin-left: 2em;
}

.top1 {
	margin-top: 1em;
}

.social-element {
	float: left;
	margin-left: 1em;
}

.mail {
	margin-top: 1em;
	margin-bottom: 3em;
}

h2 {
  color: #ccc;
}

.projects table {
  width: 90%;
}

.projects .project-name {
  font-size: 1.2em;
}

.projects table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}
